{% extends 'base.html.twig' %}

{% block title %}Hello BookListingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h2>Books by author</h2>

    <table>
        <tr>
            <th>Author</th>
            <th>Book name</th>
            <th>Year of Publication</th>
            <th>Price</th>
        </tr>
        {% for book in booksByAuthor %}
            <tr>
                <td> {{ book.Author }} </td>
                <td> {{ book.Name }} </td>
                <td> {{ book.PublicationDate }} </td>
                <td> {{ book.Price }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    <a href="{{ path('book_index') }}">Back to list</a>

{% endblock %}
